<!-- gridCompList search -->
<ul id="gridSearch" class="gridCompList" ng-show="filterFlag">
    <li class="search">
        <div class="coll{{defaultTinyColSize}}" ng-show="selectAllFlag && checkBoxForRowFlag">
            <div class="cell colSearchClear">
            </div>
        </div>
        <div class="coll{{defaultTinyColSize}}">
            <div class="cell colSearchClear">
                <a class="" href="" ng-click="clearSearchAria()"><span class="icon" data-icon="&#xe20d;"></span></a>
            </div>
        </div>
        <div class="coll{{colName.colSize}} searchAria" ng-repeat="colName in gridKey" ng-if="colName.name != '_id' && colName.name != 'id' ">
            <div class="cell">
                <input class="gridInputDefaultSearch {{colName.fieldType}}" id="{{colName.name}}" type="search" ng-if="colName.fildSearch != 'noFilter' && !colName.isDropDownSearch"
                    value="{{colName.searchVal}}" ng-enter="enterSearch(colName.name , colName.fildSearch)" data-search="{{colName.fildSearch}}">

                <input integer-only class="gridInputDefaultSearch {{colName.fieldType}}" id="{{colName.name}}" type="search" ng-if="colName.fildSearch != 'noFilter' && !colName.isDropDownSearch && colName.searchInpType==='number'"
                    value="{{colName.searchVal}}" ng-enter="enterSearch(colName.name , colName.fildSearch)" ng-model="colName.searchVal"
                    data-search="{{colName.fildSearch}}">


                <select ng-model="colName.isDropDownSearch.value" ng-if="colName.isDropDownSearch" class="gridInputDefaultSearch" data-search="{{colName.fildSearch}}"
                    ng-options="v for v in  colName.isDropDownSearch.values" ng-change="enterSearch('status' , colName)"></select>
                <!--<input class="gridInputDefaultSearch {{colName.fieldType}}" id="{{colName.name}}" type="search" ng-if="colName.isDropDownSearch"
                value="{{colName.searchVal}}" disabled="disabled" data-search="{{colName.fildSearch}}">-->
            </div>
        </div>
        <!---
        <div class="coll5"><div class="cell">&nbsp;</div></div>
            -->

        <div class="coll{{defaultActionColSize}}" ng-show="detailBtnActionFlag">

        </div>
        <div class="coll{{defaultActionColSize}}" ng-show="detailBtnActionEditFlag">

        </div>

    </li>
</ul>
<!-- gridCompList -->
<ul id="gridComponent" class="gridCompList" ng-show="gridData.length > 0" data-gridName="{{gridName}}">
    <li class="header">
        <div class="coll{{defaultSelectAllBtnSize}}" ng-if="selectAllFlag && checkBoxForRowFlag">
            <div class="cell cellBtnAction">

                <label class="cr-styled">
                    <input type="checkbox" id="checkAll" name="checkAll" ng-click="checkAll($event)" ng-model="selectedAll">
                    <i class="icon"></i>
                </label>

            </div>
        </div>
        <div class="coll{{colName.colSize}}" ng-repeat="colName in gridKey" ng-init="gridKey" ng-if="colName.name != 'id'">
            <div class="cell collNo" style="border-radius: 4px 4px 0 0;">
                <span>{{colName.displayName}}</span>
                <a class="sortIcon" ng-if="colName.name != '_id' && colName.hasSort" ng-click="_doSort(colName)"><span class="icon icon-{{colName.sortIcon}}"></span></a>
            </div>
        </div>
        <!--
        <div class="coll5"><div class="cell">&nbsp;</div></div>
        -->
        <div class="coll{{tinyActionColumnsSize}}" ng-if="extraCol">
            <div class="cell"><span>ت شروع</span></div>
            <!--<div class="cell" title="{{rowData[0].obj.extraField}}">{{rowData[0].obj.extraField}}</div>-->
        </div>
        <div class="coll{{tinyActionColumnsSize}}" ng-if="tinyColumnsFlag">
            <div class="cell" style="border-radius: 4px 0 0;">
                <span></span>
                <a class="sortIcon" href=""><span class="icon" data-icon=""></span></a>
            </div>
        </div>
        <!--<div class="coll{{defaultActionColSize}}" ng-show="detailBtnActionEditFlag">
            <div class="cell" style="border-radius: 4px 0 0;">
                &nbsp;
            </div>
        </div>
        <div class="coll{{defaultActionColSize}}" ng-show="deleteBtnActionFlag">
            <div class="cell" style="border-radius: 4px 0 0;">
                &nbsp;
            </div>
        </div>-->
    </li>
    <li class="roww {{rowData[0].obj.colorSelected}}" ng-repeat="rowData in gridData" ng-click="selectRoww(rowData)" data-id="{{rowData[0].obj.id}}"
        ng-dblclick="_doDetail(rowData)">
        <div class="coll{{defaultTinyColSize}} checkandtag" ng-if="selectAllFlag && checkBoxForRowFlag">
            <div class="cell cellBtnAction">
                <div class="checkbox-inline">
                    <label class="cr-styled">
                        <input class="" type="checkbox" id="{{rowData._id.fieldName}}" name="{{rowData._id.fieldName}}"
                               ng-model="rowData.Selected"
                               ng-checked="_isSelected(rowData)"
                               ng-click="_updateSelection($event,rowData)" />
                        <i class="icon"></i>
                    </label>
                </div>
            </div>
            <div class="gridInputTagPlace" ng-show="checkLblForRowFlag ? rowData.Selected : false">
                <input id="" tabindex="" class="gridInputTag" type="text" placeholder="" focus-on="isOpen">
            </div>
        </div>
        <div ng-if="rowField.fieldName != undefined && rowField.fieldType != 'id'  && !rowField.fieldIsDropDown" class="coll{{rowField.filedSize}}"
            ng-repeat="rowField in rowData">
            <div class="cell" title="{{rowField.fieldName}}">{{rowField.celFieldName}}</div>
        </div>

        <div ng-if="rowField.fieldName != undefined && rowField.fieldType != 'id' && rowField.fieldIsDropDown" class="coll{{rowField.filedSize}}"
            ng-repeat="rowField in rowData">
            <div class="cell">
                <select class="formInputNumberSpinIn" ng-model="rowField.fieldIsDropDownArr.value" ng-change="selectDrpOpt(rowField.fieldIsDropDownArr.value,rowData)">
                    <option value="">انتخاب کنید</option>
                    <option ng-repeat="v in  rowField.fieldIsDropDownArr.values">{{v}}</option>
                </select>
            </div>
        </div>

        <!--
        <div class="coll5">
            <div class="cell cellBtnAction">
                <a class="btnActionDelete"><span class="icon" data-icon="&#xe0da;"></span></a>
            </div>
        </div>
        -->
        <div class="coll{{tinyActionColumnsSize}}" ng-if="extraCol">
            <div ng-if="rowData[0].obj.extraField" class="cell" title="{{rowData[0].obj.extraField}}">{{rowData[0].obj.extraField}}</div>
            <div ng-if="!rowData[0].obj.extraField" class="cell" title="">-</div>
        </div>
        <div class="coll{{tinyActionColumnsSize}}" ng-if="tinyColumnsFlag">
            <div class="cell cellBtnAction">
                <span class="" ng-show="deleteBtnActionFlag">
                    <a class="" title="حذف" ng-click="deletAction(rowData)"><span class="icon icon-delete-trash-1"></span></a>
                </span>
                <span class="" ng-show="detailBtnActionEditFlag">
                    <a href="" title="ویرایش" class="" ng-click="_doEdit(rowData)"><span class="icon icon-edit-pen-1"></span></a>
                </span>
                <span class="" ng-show="detailBtnActionFlag">
                    <a href="" title="نمایش" class="" ng-click="_doDetail(rowData)"><span class="icon" data-icon="&#xe0b7;"></span></a>
                </span>
                <span class="" ng-show="desiredButsItems.length>0" ng-repeat="desiItem in desiredButsItems">
                    <a class="" ng-show="rowData[0].obj.showOrNoDesiIcon"
                       title="{{desiItem.titleTxt}}" ng-click="desiAction(desiItem.icon,rowData)"><span class="icon icon-{{desiItem.icon}}"></span></a>
                </span>

            </div>

        </div>
        </div>
        <!--<div class="coll{{defaultActionColSize}}" ng-show="detailBtnActionFlag">
            <div class="cell cellBtnAction">
                <span class=""><a href="" class="btnActionDetails" ng-click="_doDetail(rowData)"><span class="icon" data-icon="&#xe0b7;"></span></a></span>
            </div>
        </div>
        <div class="coll{{defaultActionColSize}}" ng-show="detailBtnActionEditFlag">
            <div class="cell cellBtnAction">
                <span class=""><a href="" ng-click="editAction(rowData)" class="btnActionDetails"><span class="icon" data-icon="&#xe1cf;"></span></a></span>
            </div>
        </div>
        <div class="coll{{defaultActionColSize}}" ng-show="deleteBtnActionFlag">
            <div class="cell cellBtnAction">
                <span class=""><a class="btnActionDetails" ng-click="deletAction(rowData)"><span class="icon" data-icon="&#xe0da;"></span></a></span>
            </div>
        </div>-->
        <!--<div class="coll{{defaultDetailBtnSize}}" ng-show="detailBtnFlag">
            <div class="cell cellBtnAction">
                <a class="btnActionDetails" ng-click="_doDetail(rowData)"><span class="icon" data-icon="&#xe0b7;"></span></a>
            </div>
        </div>-->
    </li>
</ul>